---
// Import SecondaryCTA component for use in this module
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const { pricing } = Astro.props;

// Define TypeScript type for products.
type Product = {
  name: string;
  description: string;
  features: Array<string>;
  purchaseBtnTitle: string;
  purchaseLink: string;
};

interface PricingSectionProps {
  title: string;
  subTitle: string;
  badge: string;
  thirdOption: string;
  btnText: string;
  pricing: {
    title: string;
    subTitle: string;
    starterKit: Product;
    professionalToolbox: Product;
    enterprisePackage: Product;
  };
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Section heading and sub-heading -->
  <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      {pricing.title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {pricing.subTitle}
    </p>
  </div>
  
  <!-- Contains three main service packages -->
  <div class="grid gap-6 lg:grid-cols-3 lg:gap-8">
    <!-- Business Consulting Excellence -->
    <div class="w-full rounded-xl bg-gray-800 p-6 sm:p-8">
      <div class="mb-6">
        <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
          {pricing.starterKit.name}
        </h3>
        <p class="text-indigo-300 mt-2">{pricing.starterKit.description}</p>
      </div>

      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-8 space-y-3 text-neutral-300">
        {
          pricing.starterKit.features.map((feature: string) => (
            <li class="flex items-start gap-2">
              <Icon name="checkCircle" class="mt-0.5 flex-shrink-0" />
              <span class="text-sm">{feature}</span>
            </li>
          ))
        }
      </ul>
      
      <!-- CTA for the service -->
      <a
        href={pricing.starterKit.purchaseLink}
        class="block rounded-lg bg-gray-500 px-8 py-3 text-center text-sm font-bold text-gray-100 outline-hidden ring-indigo-300 transition duration-100 hover:bg-gray-600 focus-visible:ring-3 active:text-gray-300 md:text-base"
        >{pricing.starterKit.purchaseBtnTitle}</a
      >
    </div>

    <!-- Digital Marketing Mastery -->
    <div class="w-full rounded-xl bg-gradient-to-br from-[#FF512F] to-[#F09819] p-6 shadow-xl sm:p-8">
      <div class="mb-4 flex flex-col items-start justify-between gap-4 lg:flex-row">
        <div>
          <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
            {pricing.professionalToolbox.name}
          </h3>
          <p class="text-orange-200 mt-2">{pricing.professionalToolbox.description}</p>
        </div>

        <span
          class="order-first inline-block rounded-full bg-orange-200/60 bg-opacity-50 px-3 py-1 text-xs font-bold uppercase tracking-wider text-center text-orange-600 lg:order-none"
          >{pricing.badge}</span
        >
      </div>

      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-8 space-y-3 text-orange-100">
        {
          pricing.professionalToolbox.features.map((feature: string) => (
            <li class="flex items-start gap-2">
              <Icon name="checkCircle" class="mt-0.5 flex-shrink-0" />
              <span class="text-sm">{feature}</span>
            </li>
          ))
        }
      </ul>
      
      <!-- CTA for the service -->
      <a
        href={pricing.professionalToolbox.purchaseLink}
        class="block rounded-lg bg-orange-200/40 bg-opacity-50 px-8 py-3 text-center text-sm font-bold text-neutral-100 outline-hidden ring-orange-300 transition duration-300 hover:bg-orange-300 focus-visible:ring-3 active:bg-orange-400 md:text-base"
        >{pricing.professionalToolbox.purchaseBtnTitle}</a
      >
    </div>

    <!-- Complete Business Transformation -->
    <div class="w-full rounded-xl bg-gradient-to-br from-[#D89D40] to-[#FE9002] p-6 shadow-xl sm:p-8">
      <div class="mb-6">
        <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
          {pricing.enterprisePackage.name}
        </h3>
        <p class="text-yellow-200 mt-2">{pricing.enterprisePackage.description}</p>
      </div>

      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-8 space-y-3 text-yellow-100">
        {
          pricing.enterprisePackage.features.map((feature: string) => (
            <li class="flex items-start gap-2">
              <Icon name="checkCircle" class="mt-0.5 flex-shrink-0" />
              <span class="text-sm">{feature}</span>
            </li>
          ))
        }
      </ul>
      
      <!-- CTA for the service -->
      <a
        href={pricing.enterprisePackage.purchaseLink}
        class="block rounded-lg bg-yellow-200/40 bg-opacity-50 px-8 py-3 text-center text-sm font-bold text-neutral-100 outline-hidden ring-yellow-300 transition duration-300 hover:bg-yellow-300 focus-visible:ring-3 active:bg-yellow-400 md:text-base"
        >{pricing.enterprisePackage.purchaseBtnTitle}</a
      >
    </div>
  </div>
  
  <!-- Call to action for Custom Solutions -->
  <div class="mt-8 flex items-center justify-center gap-x-3 md:mt-12">
    <p class="text-sm text-neutral-600 dark:text-neutral-400">
      {pricing.thirdOption}
    </p>

    <SecondaryCTA title={pricing.btnText} url="/contact" />
  </div>
</section>
